TEAM_ID=

PRODUCT_NAME=BovedaKMP
PRODUCT_BUNDLE_IDENTIFIER=com.jastin.boveda.BovedaKMP$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// PUENTE (LINKER FLAGS)
// Le dice al compilador de Apple: "Por favor, enlaza el código nativo
// que Kotlin acaba de generar para que SwiftUI pueda leerlo".
OTHER_LDFLAGS = $(inherited) -framework ComposeApp